%h1
  Contacts

%ul#contacts.collection

%script{ :id => 'contact_show', :type => 'text/x-jquery-tmpl' }
  %li.member
    ${first_name} ${last_name}
    .tools
      %ul
        %li
          %a{ :href => '#/contacts/${id}/edit', 'data-handler' => 'edit' }
            Edit
        %li
          %a{ :href => '#/contacts/${id}/', 'data-handler' => 'destroy' }
            Remove

%script{ :id => 'contact_edit', :type => 'text/x-jquery-tmpl' }
  %form{ :action => '/contacts/${id}', :method => 'post' }
    %li
      %label{ :for => 'contact[first_name]' }
        First name
      %input{ :name => 'contact[first_name]', :value => '${first_name}' }

    %li
      %label{ :for => 'contact[last_name]' }
        Last name
      %input{ :name => 'contact[last_name]', :value => '${last_name}' }

    %li
      .tools
        %ul
          %li
            %a{ :href => '#/cancel', 'data-handler' => 'cancel' }
              Cancel
