/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  background-color: lightBlue;
  margin: 2em;

  h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }

  .content {
    background-color: #fff;
    margin: auto;
    padding: 2em;
    width: 40em;
  }

  li.member {
    margin-bottom: 1em;
    position: relative;
  }

  li.member > .tools {
    position: absolute;
    right: 0;
    top: 0;
  }
}
